.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
.gitignore
.gitattributes
.git/**
.github/**
.eslintrc.json
.prettierrc
tsconfig.json
webpack.config.js
jest.config.js
**/*.map
**/*.ts
!dist/**/*.d.ts
**/*.vsix
.editorconfig
.eslintignore
coverage/**
__tests__/**
test/**
.husky/**
monospace-*.json

# Keep only the necessary icon files
themes/icons/**
!themes/icons/*.svg
!themes/hypercode-file-icon-theme.json 